#menue
{
    left: 0px;
    position: fixed;
    top: 0px;
    z-index: 1;
}
#monographie
{
    color: var(--text-color);
    font-family: "Verdana","Arial","Tahoma","Helvetica","Geneva","sans-serif";
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 20px;
}
#monographie .MonTitle
{
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 0.2em;
}
#monographie .absTitle
{
    font-size: 0.8em;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 0.0em;
}
#monographie .untertitle
{
    font-size: 0.8em;
    font-weight: normal;
    margin-bottom: 0.0em;
    margin-top: 0.5em;
}
#monographie .untertitle1
{
    font-size: 0.8em;
    font-style: italic;
    font-weight: normal;
    margin-bottom: 0.0em;
    margin-top: 0.2em;
}
#monographie .header
{
    color: #999999;
    display: none;
    font-size: 0.8em;
    font-weight: normal;
    margin-bottom: 2em;
    text-align: left;
    visibility: hidden;
}
#monographie .footer
{
    border-top: #999999 1px solid;
    color: #999999;
    font-size: 0.8em;
    font-weight: normal;
    margin-top: 2.0em;
    padding-top: 0.5em;
}
#monographie div p
{
    font-size: 0.8em;
}
#monographie .paragraph
{
    font-style: normal;
    font-weight: normal;
    margin-top: 0.8em;
}
.noSpacing
{
    margin-bottom: 0em;
    margin-top: 0em;
}
.spacing1
{
    margin-bottom: 0.0em;
    margin-top: 0em;
}
.spacing2
{
    margin-bottom: 0.25em;
    margin-top: 0em;
}
#monographie .ownerCompany
{
    border-bottom: var(--text-color-normal) 1px solid;
    border-top: var(--text-color-normal) 1px solid;
    font-size: 0.9em;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 1.0em;
    padding-bottom: 0.2em;
    padding-top: 0.2em;
    text-align: right;
}
#monographie .titleAdd
{
    font-size: 0.8em;
    font-style: italic;
    font-weight: bold;
}
#monographie .shortCharacteristic
{
    font-size: 1.0em;
    font-style: italic;
}
#monographie .indention1
{
    margin-left: 5em;
}
#monographie .indention2
{
    margin-left: 10em;
}
#monographie .indention3
{
    margin-left: 15em;
}
#monographie .box
{
    border-color: var(--text-color-normal);
    border-style: solid;
    border-width: 1px;
    font-size: 0.8em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-bottom: 6px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
}
#monographie .image
{
    margin-bottom: 20px;
    margin-top: 20px;
}
.barcode
{
    cursor: pointer;
    margin-bottom: 0.25em;
    margin-top: 0em;
}
.barcode:hover
{
    background-color: #eeeeee;
}
#monographie table
{
    border-bottom: solid 1px var(--text-color-normal);
    border-top: solid 1px var(--text-color-normal);
    font-family: "Courier New","sans-serif";
    font-size: 0.9em;
    margin-bottom: 1.0em;
    margin-top: 1.0em;
}
#monographie td
{
    font-family: "Courier New","sans-serif";
    font-size: 0.9em;
}
#monographie td p
{
    font-family: "Courier New","sans-serif";
    font-size: 0.9em;
}
.rowSepBelow
{
    border-bottom: solid 1px var(--text-color-normal);
}
.goUp
{
    float: right;
    margin-right: -40px;
}
.tblArticles
{
    border: solid 1pt var(--lines-color);
    border-spacing: 0;
    text-align: left;
    vertical-align: top;
    width: 100%;
}
.tblArticles .product
{
    border-right: solid 1pt var(--lines-color);
    border-top: solid 1pt var(--lines-color);
    font-size: small;
    vertical-align: top;
    width: 37%;
}
.tblArticles .productEmpty
{
    width: 37%;
}
.tblArticles .normal-right
{
    border-right: solid 1pt var(--lines-color);
    border-top: solid 1pt var(--lines-color);
    font-size: small;
    text-align: right;
    vertical-align: top;
    width: 15%;
}
.tblArticles .normal-center
{
    border-right: solid 1pt var(--lines-color);
    border-top: solid 1pt var(--lines-color);
    font-size: small;
    text-align: center;
    vertical-align: top;
    width: 10%;
}
.tblArticles .picture
{
    border-top: solid 1pt var(--lines-color);
    text-align: center;
    width: 15%;
}
.tblArticles .pictureEmpty
{
    border-top: solid 1pt var(--lines-color);
    width: 15%;
}
