#fulltext
{
    color: var(--text-color);
    font-family: "Verdana","Arial","Tahoma","Helvetica","Geneva","sans-serif";
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 20px;
}
#fulltext div p
{
    font-size: 0.8em;
}
#fulltext p
{
    margin-bottom: 0em;
    margin-top: 0em;
}
#fulltext ul
{
    list-style-type: none;
    padding: 0;
}
#fulltext li
{
    padding: 0.25em 0.25em 0.25em 0.25em;
    vertical-align: middle;
}
#fulltext li:hover
{
    background-color: var(--background-color-gray);
    cursor: pointer;
    display: block;
}
#fulltext li a:hover
{
    text-decoration: underline;
}
#fulltext table
{
    border-bottom: solid 1px var(--lines-color);
    border-top: solid 1px var(--lines-color);
    font-size: 1.0em;
    margin-bottom: 1.0em;
    margin-top: 1.0em;
}
#fulltext td
{
    font-size: 1.0em;
}
#fulltext td p
{
    font-size: 1.0em;
}
#fulltext td:hover
{
    background-color: var(--background-color-highlight);
    cursor: pointer;
}
