/*
 * Some info goes here
 */
html, body {
    min-height: 100%;
    min-width: 1280px;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;   /* 16px; */
    box-sizing: border-box;
}

a {
    text-decoration: none;  /* removes underline from hrefs */
}

body {
    width: auto;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

nav {
    display: block;
    margin-top: 80px;
}

aside ul {
    list-style-type: none;
    padding: 0;
}

aside li {
    padding: 0.25em 0.25em 0.25em 0.5em;
    vertical-align: middle;
    /* transition-duration: 0.3s; */
}

header,
footer {
    background-color: var(--background-color-normal);
    padding: 1.0em;
    opacity: .92;
    /* filter: Alpha(Opacity=50); */
}

header {
    width: auto;
    position: fixed;     /* make this position: fixed if header should not disappear */
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    height: 48px;
    border-bottom: 1px solid var(--background-color-dark-gray);
    background-color: var(--background-color-dark-gray);
    transition: top 0.2s;
}

header .links {
    float: right;
}

footer {
    width: 100%;
    position: relative; /*fixed*/
    height: 48px;
    text-align: center;
    background-color: var(--background-color-dark-gray);
    color: var(--text-color-normal);
    line-height: 1.5em;
}

.header-up {
    top: -80px;
}

.header-down {
}

.section-ids-up {
    margin-top: 0px;
}

.sections-ids-down {
}

article,
aside {
    margin-top: 80px;          /* add margin or padding if header is fixed */
    padding: 1.0em;
}

#fixed-position {
    position: fixed;
    margin-top: 0px;
    flex: 0 0 320px;
    max-width: 320px;   /* ensures that box does not RESIZE **/
}

#special-dropdown {
}

#flex-container {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    background-color: var(--background-color-normal);
}

#flex-aside-one {
    height: 100%;
    flex: 0 0 320px;
    max-width: 320px;   /* ensures that box does not RESIZE **/
    box-orient: vertical;
    box-ordinal-group: 1;
    background-color: var(--background-color-normal);
    transition: max-width 1s;
    -webkit-transition: max-width 1s ease;
}

#flex-aside-one:hover,
#flex-aside-one:focus,
#flex-aside-one:active {
    max-width: 640px;   /* enables auto-resize */
}

#flex-main-content {
    min-height: 320px;
    min-width: 640px;
    flex: 1;
    box-orient: vertical;
    box-ordinal-group: 2;
    border-left: 16px solid var(--background-color-gray);
    border-right: 16px solid var(--background-color-gray);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.2em;
    line-height: 1.2em;
    background-color: var(--background-color-normal);
    overflow: hidden;
}

#flex-aside-two {
    height: 100%;
    flex: 0 0 240px;
    box-orient: vertical;
    box-ordinal-group: 3;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.0em;   /* 0.9em;*/
    line-height: 1.4em;
    background-color: var(--background-color-normal);
    overflow: hidden;
    transition: margin-top 0.2s;
}

#section-ids {
    position: fixed;
    color:#0099cc;
}

#section-ids li:hover {
    width: 100%;
    cursor: pointer;
    display: block;
    background-color: var(--background-color-gray);
    color:#0099cc;
    font-weight: bold;
}

#search-field {
    width: 100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

#search-field:hover {
    color: var(--text-color-light);
    cursor: pointer;
}

#search-field:focus {
    color: var(--text-color-light);
}

a.atc-code {
    color: var(--text-color-light);
}
a.atc-code:hover {
    color: var(--text-color-link);
}

.badge {
    display: table-cell;
    border-left: 1px solid var(--text-color-light);
    text-align: center;
}

#num-results {
    float: right;
}

#input-form {
    width: 100%;
    display: block;
    position: relative;
}

#input-form div {
    z-index: 1;
    position: relative;
    top: 30px;
    right: 8px;
    padding-left: 4px;
    color: var(--text-color-light);
    cursor: text;
    pointer-events: none;
    line-height: 24px;
    font-size: 10px;
}

#input-form input, #input-form textarea, #input-form select {
    z-index: 0;
    font: inherit;
    line-height: 24px;
}

#main-result {
    color: var(--text-color-normal);
}

.nav-button {
    font-size: 0.8em;
    padding: 6px;
    display:inline-block;
}

.nav-button-active {
    font-size: 0.8em;
    padding: 6px;
    display:inline-block;
    border: 1px solid var(--background-color-highlight);
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    background-color: var(--background-color-gray);
}

.nav-button:hover {
    cursor: pointer;
    background-color: var(--background-color-gray);
}

.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.state-button {
    float: left;
    margin-left: 16px;
    outline: none;
    border: none;
    text-align: center;
    background: transparent;
}

.state-button-active {
    outline: none;
    border: none;
}

.state-button:hover {
    cursor: pointer;
}

@media (prefers-color-scheme: dark) {
    .state-button img {
       -webkit-filter: invert(1);
       filter: invert(1);
    }
}

.rounded-button {
    position: relative;
    width: 100%;
    margin-top: 8px;
    padding: 0.3em 0.3em 0.3em 0.6em;
    outline: none;
    color: var(--text-color);
    background-color: var(--background-color-normal);
    border-radius: 4px;
    border: 1px solid var(--lines-color);
    transition-duration: 0.3s;
    text-align: left;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.0em;
}

.rounded-button:hover {
    margin-left: 0px;
    cursor: pointer;
}

.rounded-button:active, .active {
    background-color: var(--background-color-highlight);
    border-radius: 4px;
    border: 1px solid var(--lines-color);
}

#language-button {
    z-index: 1;
    position: relative;
    top: 6px;
    float: left;
    margin-left: 0.3em;
    outline: none;
    border: none;
    color: var(--text-color-light);
    background-color: transparent;
    text-decoration: none;
    font-size: 10px;
    font-weight: normal;
}

#language-button:hover {
    cursor: pointer;
    font-weight: bold;
}

#sponsor-button {
    float: right;
    margin-right: 0px;
    outline: none;
    border: none;
    background: transparent;
}

#sponsor-button:hover {
    cursor: pointer;
}

#download-button {
    float: right;
    margin-right: 8px;
    outline: none;
    border: none;
    background: transparent;
}

#download-button:hover {
    cursor: pointer;
}

#download-links {
    position: relative;
    float: right;
    opacity: .9;
    color: green;
    display: none;
    text-align: right;

}
#download-links p {
    font-size: 1em;
    padding: 0.2em 1em 0.2em 3em;
    background-color: var(--background-color-gray);
    border-radius: 16px;
    border: 1px solid var(--lines-color);
}

#download-links a {
    color: var(--background-color-normal);
}

/* Removes annoying 'x' from IE, Edge and Chrome */
input[type=text]::-ms-clear {
    display: none; width : 0; height: 0;
}
input[type=text]::-ms-reveal {
    display: none; width : 0; height: 0;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

@media only screen and (max-width: 640px) {

    #flex-main-content {
        font-size: 1.0em;
    }
}
