@(main_content: String="")(titles: String="")(search_key: String="")(search_mode: String="")(anchor: String="")(vc: ViewContext)(messages: play.i18n.Messages)
<!-- (logo: String="DESITIN")(show_interaction: Boolean=true) -->

@main("AmiKoWeb", anchor) {
    <script type="text/javascript" src="@routes.Assets.versioned("javascripts/typeahead.bundle.corejs.js")"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("javascripts/amiko.searchdb.js")"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("javascripts/amiko.helpers.js")"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("javascripts/interaction_callbacks.js")"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("javascripts/amiko.prescriptions.js")"></script>
    <script>setInitialLanguage("@messages("web_url")")</script>

    <header>
        <!-- COMPENDIUM BUTTON -->
        <div class="nav-button" id="compendium-button">
            <div class="center-image">
                <button class="state-button">
                    <img border="0" alt="Compendium" src="@routes.Assets.versioned("images/aips32x32_dark.png")" height="28"/>
                </button>
                <span style="display: block;">@messages("compendium")</span>
            </div>
        </div>
        <div class="nav-button" id="favourites-button">
            <div class="center-image">
                <button class="state-button">
                    <img border="0" alt="Favourites" src="@routes.Assets.versioned("images/favorites@2x.png")" height="28"/>
                </button>
                <span style="display: block;">@messages("favourites")</span>
            </div>
        </div>
        <!-- INTERACTIONS BUTTON -->
        @if(vc.showInteraction) {
            <div class="nav-button" id="interactions-button">
                <div class="center-image">
                    <button class="state-button">
                        <img border="0" alt="Interactions" src="@routes.Assets.versioned("images/interactions32x32_dark.png")" height="28"/>
                    </button>
                    <span style="display: block;">@messages("interactions")</span>
                </div>
            </div>
        }
        @if(vc.showPrescriptions) {
            <div class="nav-button" id="prescriptions-button">
                <div class="center-image">
                    <button class="state-button --prescription">
                        <img border="0" alt="Prescriptions" src="@routes.Assets.versioned("images/prescription.png")" height="28"/>
                    </button>
                    <span style="display: block;">@messages("prescriptions")</span>
                </div>
            </div>
        }
        <!-- DOWNLOAD BUTTON -->
        <div class="nav-button" id="download-button">
            <div class="center-image">
                <button id="download-button" onclick="download_links()">
                    <img border="0" alt="Download" src="@routes.Assets.versioned("images/download_icon.svg")" height="40">
                </button>
            </div>
        </div>
        <!-- SPONSORS BUTTONS -->
        <div class="nav-button" id="sponsor-button">
            <div class="center-image">
                @if(vc.logo == "DESITIN") {
                    <a id="sponsor-button" href="http://www.desitin.ch" target="_blank">
                        <img border="0" alt="Desitin" src="@routes.Assets.versioned("images/desitin_logo.png")" height="40">
                    </a>
                } else {
                    <a id="sponsor-button" href="https://www.zurrose.ch/" target="_blank">
                        <img border="0" alt="Desitin" src="@routes.Assets.versioned("images/zurrose_logo.svg")" height="40" width="80">
                    </a>
                }
            </div>
        </div>
    </header>

    <div id="flex-container">
        <aside id="flex-aside-one">
            <div>
                <button id="language-button" onclick="setLanguage()">@messages("language")</button>
            </div>
            <form>
                <div id="input-form">
                    <div id="num-results" for="input-form" class="badge"></div>
                    <input id="search-field" class="twitter-typeahead" type="text" value="@(search_key)" placeholder="@messages("search_title")" autofocus/>
                </div>
            </form>
            <br>
            <div>
                <button id="article-button" class="rounded-button">@messages("title")</button>
                <button id="owner-button" class="rounded-button">@messages("author")</button>
                <button id="substance-button" class="rounded-button">@messages("substance")</button>
                <button id="regnr-button" class="rounded-button">@messages("regnr")</button>
                <button id="therapy-button" class="rounded-button">@messages("therapy")</button>
                <button id="fulltext-button" class="rounded-button">@messages("fulltext")</button>
            </div>
            <div id="special-dropdown" class="twitter-typeahead"></div>
        </aside>

        <div id="flex-main-content">
            <article id="fachinfo-id">@Html(main_content)</article>
        </div>

        <aside id="flex-aside-two" class="nav-down">
            <div id="section-ids">@Html(titles)</div>
            <div id="download-links">
                <p><a href='@messages("windows_url")' target="_blank" class="links">Windows<img border="0" alt="Windows" src="@routes.Assets.versioned("images/windows_logo.svg")" height="48"></a></p>
                <p><a href='@messages("macos_url")' target="_blank" class="links">macOS<img border="0" alt="macOS" src="@routes.Assets.versioned("images/apple_icon_svg.png")" height="48"></a></p>
                <p><a href='@messages("ios_url")' target="_blank" class="links">iOS<img border="0" alt="iOS" src="@routes.Assets.versioned("images/apple_icon_svg.png")" height="48"></a></p>
                <p><a href='@messages("android_url")' target="_blank" class="links">Android<img border="0" alt="Android" src="@routes.Assets.versioned("images/android_logo.svg")" height="48"></a></p>
            </div>
        </aside>
    </div>

    <footer class="main-footer">
        <div>AmiKo Web</div>
        <div><a href="https://github.com/zdavatz/amiko-web">Copyright © 2024 ywesee GmbH</a></div>
    </footer>

    <!-- Button related JS -->
    <script>
        function disableButtons() {
            $('#article-button').removeClass('active');
            $('#owner-button').removeClass('active');
            $('#substance-button').removeClass('active');
            $('#regnr-button').removeClass('active');
            $('#therapy-button').removeClass('active');
            $('#fulltext-button').removeClass('active');
        }

        function getURLParameter(theParameter) {
            var params = window.location.search.substr(1).split('&');
            for (var i = 0; i < params.length; i++) {
                var p=params[i].split('=');
                if (p[0] == theParameter) {
                    return decodeURIComponent(p[1]);
                }
            }
            if (window.location.href.contains('fulltext'))
                return 'fulltext';
            return false;
        }

        $('#article-button').click(function() {
            disableButtons();
            $('#search-field').attr('placeholder', '@messages("search_title")');
            $(this).addClass('active');
        });
        $('#owner-button').click(function() {
            disableButtons();
            $('#search-field').attr('placeholder', '@messages("search_author")');
            $(this).addClass('active');
        });
        $('#substance-button').click(function() {
            disableButtons();
            $('#search-field').attr('placeholder', '@messages("search_substance")');
            $(this).addClass('active');
        });
        $('#regnr-button').click(function() {
            disableButtons();
            $('#search-field').attr('placeholder', '@messages("search_regnr")');
            $(this).addClass('active');
        });
        $('#therapy-button').click(function() {
            disableButtons();
            $('#search-field').attr('placeholder', '@messages("search_therapy")');
            $(this).addClass('active');
        });
        $('#fulltext-button').click(function() {
            disableButtons();
            $('#search-field').attr('placeholder', '@messages("search_fulltext")');
            $(this).addClass('active');
        });

        var query_var = getURLParameter('type');
        if (query_var) {
            if (query_var == 'title') {
                localStorage.setItem('search-type', 1);
            } else if (query_var == 'author') {
                localStorage.setItem('search-type', 2);
            } else if (query_var == 'atc') {
                localStorage.setItem('search-type', 3);
            } else if (query_var == 'regnr') {
                localStorage.setItem('search-type', 4);
            } else if (query_var == 'therapy') {
                localStorage.setItem('search-type', 5);
            } else if (query_var == 'fulltext') {
                localStorage.setItem('search-type', 6);
            } else {
                localStorage.setItem('search-type', 1);
            }
        }

        if (localStorage.getItem('search-type')==1) {
            $('#article-button').addClass('active');
            $('#search-field').attr('placeholder', '@messages("search_title")');
        } else if (localStorage.getItem('search-type')==2) {
            $('#owner-button').addClass('active')
            $('#search-field').attr('placeholder', '@messages("search_author")');
        } else if (localStorage.getItem('search-type')==3) {
            $('#substance-button').addClass('active')
            $('#search-field').attr('placeholder', '@messages("search_substance")');
        } else if (localStorage.getItem('search-type')==4) {
            $('#regnr-button').addClass('active')
            $('#search-field').attr('placeholder', '@messages("search_regnr")');
        } else if (localStorage.getItem('search-type')==5) {
            $('#therapy-button').addClass('active')
            $('#search-field').attr('placeholder', '@messages("search_therapy")');
        } else if (localStorage.getItem('search-type')==6) {
            $('#fulltext-button').addClass('active')
            $('#search-field').attr('placeholder', '@messages("search_fulltext")');
        } else {
            $('#article-button').addClass('active');
            $('#search-field').attr('placeholder', '@messages("search_title")');
        }

        @if(search_mode == "atc") {
            $(function() {
                triggerSearchATC("@(search_key)");
            });
        }
    </script>

    <!-- Google Analytics -->
    <script>
            (function(i,s,o,g,r,a,m){i.GoogleAnalyticsObject=r;i[r]=i[r]||function(){
                        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', '@vc.googleAnalyticsId', 'auto');
            ga('send', 'pageview');
    </script>
    <!-- End Google Analytics -->
}
