@(fachinfo: String="")(titles: String="")(search_key: String="")

@main("AmiKoWeb") {
    <script type="text/javascript" src="@routes.Assets.versioned("javascripts/typeahead.bundle.corejs.js")"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("javascripts/amiko.searchdb.js")"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("javascripts/amiko.helpers.js")"></script>
    <script>setInitialLanguage("@Messages("web_url")")</script>

    <header class="nav-down">
        <a href=@Messages("web_url") class="home"><img border="0" alt="Home" src="@routes.Assets.versioned("images/amiko_icon.png")" height="48"></a>
        <button id="download-button" onclick="download_links()"><img border="0" alt="Download" src="@routes.Assets.versioned("images/download_icon.svg")" height="48"></button>
     </header>

    <div id="flex-container">
        <aside id="flex-aside-one">
            <div>
                <button id="language-button" onclick="setLanguage()">@Messages("language")</button>
            </div>
            <form>
                <div id="input-form">
                    <div id="num-results" for="input-form" class="badge"></div><input id="search-field" class="twitter-typeahead" type="text" value="@(search_key)" placeholder="@Messages("search_title")" autofocus/>
                </div>
            </form>
            <br>
            <div>
                <button id="article-button" class="rounded-button">@Messages("title")</button>
                <button id="owner-button" class="rounded-button">@Messages("author")</button>
                <button id="substance-button" class="rounded-button">@Messages("substance")</button>
                <button id="regnr-button" class="rounded-button">@Messages("regnr")</button>
                <button id="therapy-button" class="rounded-button">@Messages("therapy")</button>
            </div>
            <div id="special-dropdown" class="twitter-typeahead"></div>
        </aside>

        <div id="flex-main-content">
            <article id="fachinfo-id">@Html(fachinfo)</article>
        </div>

        <aside id="flex-aside-two" class="nav-down">
            <div id="section-ids">@Html(titles)</div>
            <div id="download-links">
                <p><a href=@Messages("windows_url") target="_blank" class="links">Windows<img border="0" alt="Windows" src="@routes.Assets.versioned("images/windows_logo.svg")" height="48"></a></p>
                <p><a href=@Messages("macos_url") target="_blank" class="links">macOS<img border="0" alt="macOS" src="@routes.Assets.versioned("images/apple_icon_svg.png")" height="48"></a></p>
                <p><a href=@Messages("ios_url") target="_blank" class="links">iOS<img border="0" alt="iOS" src="@routes.Assets.versioned("images/apple_icon_svg.png")" height="48"></a></p>
                <p><a href=@Messages("android_url") target="_blank" class="links">Android<img border="0" alt="Android" src="@routes.Assets.versioned("images/android_logo.svg")" height="48"></a></p>
            </div>
        </aside>
    </div>

    <footer class="main-footer">
        <div>AmiKo Web</div>
        <div><a href="https://github.com/zdavatz/amiko-web">Copyright © 2016 ywesee GmbH</a></div>
    </footer>

    <!-- Button related JS -->
    <script>
        function disableButtons() {
            $('#article-button').removeClass('active');
            $('#owner-button').removeClass('active');
            $('#substance-button').removeClass('active');
            $('#regnr-button').removeClass('active');
            $('#therapy-button').removeClass('active');
        }
        $('#article-button').click(function(){
            disableButtons();
            $('#search-field').attr('placeholder', '@Messages("search_title")');
            $(this).addClass('active');
        });
        $('#owner-button').click(function(){
            disableButtons();
            $('#search-field').attr('placeholder', '@Messages("search_author")');
            $(this).addClass('active');
        });
        $('#substance-button').click(function(){
            disableButtons();
            $('#search-field').attr('placeholder', '@Messages("search_substance")');
            $(this).addClass('active');
        });
        $('#regnr-button').click(function(){
            disableButtons();
            $('#search-field').attr('placeholder', '@Messages("search_regnr")');
            $(this).addClass('active');
        });
        $('#therapy-button').click(function(){
            disableButtons();
            $('#search-field').attr('placeholder', '@Messages("search_therapy")');
            $(this).addClass('active');
        });

        if (localStorage.getItem('search-type')==1) {
            $('#article-button').addClass('active');
            $('#search-field').attr('placeholder', '@Messages("search_title")');
        } else if (localStorage.getItem('search-type')==2) {
            $('#owner-button').addClass('active')
            $('#search-field').attr('placeholder', '@Messages("search_author")');
        } else if (localStorage.getItem('search-type')==3) {
            $('#substance-button').addClass('active')
            $('#search-field').attr('placeholder', '@Messages("search_substance")');
        } else if (localStorage.getItem('search-type')==4) {
            $('#regnr-button').addClass('active')
            $('#search-field').attr('placeholder', '@Messages("search_regnr")');
        } else if (localStorage.getItem('search-type')==5) {
            $('#therapy-button').addClass('active')
            $('#search-field').attr('placeholder', '@Messages("search_therapy")');
        } else {
            $('#article-button').addClass('active');
            $('#search-field').attr('placeholder', '@Messages("search_title")');
        }
    </script>

    <!-- Google Analytics -->
    <script>
            (function(i,s,o,g,r,a,m){i.GoogleAnalyticsObject=r;i[r]=i[r]||function(){
                        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-47115045-2', 'auto');
            ga('send', 'pageview');
    </script>
    <!-- End Google Analytics -->
}
