@(title: String, anchor: String)(content: Html)

<!DOCTYPE html>
<html>
    <head>
        <title>@title</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/main_style.css")" />
        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/typeahead_style.css")" />
        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/amiko_style.css")" />
        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/interactions_css.css")" />
        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/fulltext_style.css")" />
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/jquery-2.2.0.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/jquery-ui.js")"></script>
        <script type="text/javascript" src="@controllers.routes.MainController.javascriptRoutes()"></script>
        <meta name="apple-itunes-app" content="app-id=687642725"/>
        <meta charset="UTF-8"/>
    </head>
    <body onload="move_to_anchor(@anchor)">
        @content
    </body>
</html>
