@(messages: play.i18n.Messages)

<div class="prescriptions">
    <div class="prescription-header">
        <div class="prescription-patent">
            <div class="prescription-patent-info"></div>
            <button id="prescription-choose-patient-button">@messages("choose_patient")</button>
            <div class="prescription-patent-place-and-date"></div>
        </div>
        <div class="prescription-doctor">
            <div class="prescription-doctor-info">
                <!--Mr. Doctor-->
            </div>
            <button id="prescription-edit-doctor-button">@messages("edit")</button>
            <div class="prescription-doctor-sign"><img /></div>
        </div>
    </div>
    <div class="prescription-items">
    </div>
    <div class="prescription-actions">
        <input id="prescription-save" type="button" value='@messages("save")'>
        <input id="prescription-create" type="button" value='@messages("new_prescription")'>
    <input id="prescription-export-all" type="button" value='@messages("export_to_zip")'>
    <label id="prescription-import-all-label">
        <input id="prescription-import-all" type="file" accept=".zip,.amk">
    </label>
    </div>

    <dialog class="prescriptions-address-book">
        <h2>@messages("address_book")</h2>
        <div class="prescriptions-address-book-content">
            <table class="prescriptions-address-book-form">
                <tr>
                    <td class="-field">@messages("surname"):</td>
                    <td><input name="address-book-field-surname"></td>
                </tr>
                <tr>
                    <td class="-field">@messages("name"):</td>
                    <td><input name="address-book-field-name"></td>
                </tr>
                <tr>
                    <td class="-field">@messages("street"):</td>
                    <td><input name="address-book-field-street"></td>
                </tr>
                <tr>
                    <td class="-field">@messages("city"):</td>
                    <td><input name="address-book-field-city"></td>
                </tr>
                <tr>
                    <td class="-field">@messages("zip"):</td>
                    <td><input name="address-book-field-zip"></td>
                </tr>
                <tr>
                    <td class="-field">@messages("country"):</td>
                    <td><input name="address-book-field-country"></td>
                </tr>
                <tr>
                    <td class="-field">@messages("birthday"):</td>
                    <td><input name="address-book-field-birthday" type="date"></td>
                </tr>
                <tr>
                    <td class="-field">@messages("sex"):</td>
                    <td><input name="address-book-field-sex" type="radio" value="m" title="M">M <input name="address-book-field-sex" type="radio" value="f" title="F"> F</td>
                </tr>
                <tr>
                    <td class="-field">@messages("weight_kg"):</td>
                    <td><input name="address-book-field-weight"></td>
                </tr>
                <tr>
                    <td class="-field">@messages("height_cm"):</td>
                    <td><input name="address-book-field-height"></td>
                </tr>
                <tr>
                    <td class="-field">@messages("phone"):</td>
                    <td><input name="address-book-field-phone"></td>
                </tr>
                <tr>
                    <td class="-field">@messages("email"):</td>
                    <td><input name="address-book-field-email"></td>
                </tr>
                <tr>
                    <td class="-field">@messages("bag_number") Number:</td>
                    <td><input name="address-book-field-bagnumber"></td>
                </tr>
                <tr>
                    <td class="-field">@messages("card_number"):</td>
                    <td><input name="address-book-field-cardnumber"></td>
                </tr>
                <tr>
                    <td class="-field">@messages("card_expiry"):</td>
                    <td><input name="address-book-field-cardexpiry"></td>
                </tr>
                <tr>
                    <td class="-field">@messages("gln"):</td>
                    <td><input name="address-book-field-gln"></td>
                </tr>
            </table>
            <div class="prescriptions-address-book-patients">
                <div class="prescriptions-address-book-patient">

                </div>
                <div class="prescriptions-address-book-patient">

                </div>
            </div>
        </div>
        <form class="dialog-action" method="dialog">
            <input id="patient-save" type="button" value='@messages("save")'>
            <button>@messages("close")</button>
            <input id="patient-create" type="button" value='@messages("new_patient")'>
        </form>
    </dialog>
    <dialog class="prescriptions-doctor">
        <h2>@messages("doctor")</h2>
        <div class="prescriptions-doctor-content">
            <table>
                <tr class="-field">
                    <td class="-name">@messages("title")</td><td><input name="doctor-field-title"></td>
                </tr>
                <tr class="-field">
                    <td class="-name">@messages("zsr_no")</td><td><input name="doctor-field-zsrnumber"></td>
                </tr>
                <tr class="-field">
                    <td class="-name">@messages("gln")</td><td><input name="doctor-field-gln"></td>
                </tr>
                <tr class="-field">
                    <td class="-name">@messages("surname")</td><td><input name="doctor-field-surname"></td>
                </tr>
                <tr class="-field">
                    <td class="-name">@messages("name")</td><td><input name="doctor-field-name"></td>
                </tr>
                <tr class="-field">
                    <td class="-name">@messages("street")</td><td><input name="doctor-field-street"></td>
                </tr>
                <tr class="-field">
                    <td class="-name">@messages("city")</td><td><input name="doctor-field-city"></td>
                </tr>
                <tr class="-field">
                    <td class="-name">@messages("country")</td><td><input name="doctor-field-country"></td>
                </tr>
                <tr class="-field">
                    <td class="-name">@messages("zip")</td><td><input name="doctor-field-zip"></td>
                </tr>
                <tr class="-field">
                    <td class="-name">@messages("phone")</td><td><input name="doctor-field-phone"></td>
                </tr>
                <tr class="-field">
                    <td class="-name">@messages("email")</td><td><input name="doctor-field-email"></td>
                </tr>
                <tr class="-field">
                    <td class="-name">@messages("iban")</td><td><input name="doctor-field-iban"></td>
                </tr>
                <tr class="-field">
                    <td class="-name">@messages("vat_number")</td><td><input name="doctor-field-vat"></td>
                </tr>
                <tr>
                    <td>@messages("signature")</td><td>
                        <img id="doctor-sign-image"/>
                        <input id="doctor-sign-input" type="file" accept="image/png, image/jpeg"/>
                    </td>
                </tr>
            </table>
        </div>
        <form class="dialog-action" method="dialog">
            <input id="doctor-save" type="button" value='@messages("save")'>
            <button>@messages("close")</button>
        </form>
    </dialog>
    <dialog id="prescriptions-save-confirm">
        <form class="dialog-action" method="dialog">
            <h2>@messages("overwrite_prescription_title")</h2>
            <p>@messages("overwrite_prescription_confirm")</p>
            <input id="prescription-save-new" type="button" value='@messages("save_new")'>
            <input id="prescription-save-overwrite" type="button" value='@messages("save_overwrite")'>
            <button>@messages("cancel")</button>
        </form>
    </dialog>
    <script>
        var PrescriptionLocalization = {
            prescription_please_choose_patient: "@messages("prescription_please_choose_patient")",
            prescription_confirm_clear: "@messages("prescription_confirm_clear")",
            prescription_imported: "@messages("prescription_imported")",
            export_to_zip: "@messages("export_to_zip")"
        };
    </script>
</div>
